<div class="review">
    {{#each reviewEntries}}
    <div class="entry">
        <h3>{{title}}</h3>
        <div class="user"> {{username}}</div>
        <div class="content">{{{content}}}</div>
    </div>
    {{/each}}
</div>